<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Melody</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>PSSwitchTableCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>Enabled</string>
			<key>defaults</key>
			<string>applebetas.ios.tweak.melody</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>applebetas.ios.tweak.melody.changed</string>
		</dict>
		<dict>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>Melody Public Beta 2 © Dynastic Development 2017</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>creditOptions</key>
			<array>
				<dict>
					<key>service</key>
					<string>website</string>
					<key>username</key>
					<string>https://www.applebetas.co/</string>
				</dict>
				<dict>
					<key>service</key>
					<string>twitter</string>
					<key>username</key>
					<string>AppleBetasDev</string>
				</dict>
				<dict>
					<key>service</key>
					<string>email</string>
					<key>username</key>
					<string>applebetas+tmsprq@icloud.com</string>
				</dict>
				<dict>
					<key>service</key>
					<string>reddit</string>
					<key>username</key>
					<string>AppleBetas</string>
				</dict>
				<dict>
					<key>service</key>
					<string>paypal</string>
					<key>username</key>
					<string>AppleBetasPay</string>
				</dict>
				<dict>
					<key>service</key>
					<string>github</string>
					<key>username</key>
					<string>AppleBetas</string>
				</dict>
				<dict>
					<key>service</key>
					<string>instagram</string>
					<key>username</key>
					<string>AppleBetas</string>
				</dict>
				<dict>
					<key>forcedFormattedUsername</key>
					<string>AppleBetas</string>
					<key>service</key>
					<string>googlePlus</string>
					<key>username</key>
					<string>101720869338481663975</string>
				</dict>
				<dict>
					<key>forcedFormattedUsername</key>
					<string>AppleBetas</string>
					<key>service</key>
					<string>youtube</string>
					<key>username</key>
					<string>channel/UCWNX3hf4I6v3acsZfsMmmsg</string>
				</dict>
			</array>
			<key>avatarImage</key>
			<string>Avatar-AB.jpg</string>
			<key>creditPosition</key>
			<string>Developer</string>
			<key>creditName</key>
			<string>AppleBetas</string>
			<key>height</key>
			<integer>88</integer>
			<key>cellClass</key>
			<string>DDCreditCell</string>
		</dict>
		<dict>
			<key>creditOptions</key>
			<array>
				<dict>
					<key>service</key>
					<string>website</string>
					<key>username</key>
					<string>https://nullpixel.uk/</string>
				</dict>
				<dict>
					<key>service</key>
					<string>twitter</string>
					<key>username</key>
					<string>nullriver</string>
				</dict>
				<dict>
					<key>service</key>
					<string>email</string>
					<key>username</key>
					<string>tweaks@nullpixel.uk</string>
				</dict>
				<dict>
					<key>service</key>
					<string>reddit</string>
					<key>username</key>
					<string>nullpixel</string>
				</dict>
				<dict>
					<key>service</key>
					<string>github</string>
					<key>username</key>
					<string>nullpixel</string>
				</dict>
				<dict>
					<key>service</key>
					<string>instagram</string>
					<key>username</key>
					<string>nullpixel</string>
				</dict>
			</array>
			<key>avatarImage</key>
			<string>Avatar-JB.jpg</string>
			<key>creditPosition</key>
			<string>Developer</string>
			<key>creditName</key>
			<string>Jamie Bishop</string>
			<key>height</key>
			<integer>88</integer>
			<key>cellClass</key>
			<string>DDCreditCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openDonate</string>
			<key>label</key>
			<string>Donate for my efforts</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		</dict>
	</array>
</dict>
</plist>
